body {
    background-color: #EBE1DA;
    font-family: Helvetica, monospace;
    font-size: 18px;
    margin: 0;
}

header {
    background-color: #007007;
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    box-shadow: 0px 3px 5px 3px rgba(0, 0, 0, 0.2);
    margin-bottom: 16px;
}

header h1 a {
    color: #F3F3F3;
    text-decoration: none;
}

.nav-left {
    margin-right: auto;
}

.nav-right {
    border-radius: 16px;
    background-color: rgba(243, 243, 243, 0.2);
    display: flex;
    padding-top: 0.5rem;
    margin-top: 24px;
    margin-bottom: 24px;
    padding-left: 16px;
    padding-right: 16px;
}

.nav-right a {
    color: #F3F3F3;
    text-decoration: none;
}

.post-entry {
    background-color: rgb(243, 243, 243);
    margin-bottom: 8px;
    margin-left: 8px;
    margin-right: 8px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    padding-top: 2px;
    border-radius: 4px;
    box-shadow: 0px 3px 5px 3px rgba(0, 0, 0, 0.2);
}

.post-entry h2 a,
.post-entry h2 a:visited {
    color: #052C08;
    text-decoration: none;
    margin: 0px;
}

.post-entry p {
    margin: 0px;
    color: #052C08;
    font-weight: 400;
}

.post-entry h2 a:hover {
    color: red;
}

nav {
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
}

nav a,
nav a:visited {
    color: #052C08;
    text-decoration: none;
}

form {
    padding-top: 0px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
}